transformers
torch
torchvision
torchaudio
accelerate
sentence-transformers
gensim
datasets
python-dotenv
openai
cohere
umap-learn
hdbscan
bertopic
datamapplot
langchain
langchain-community 
langchain-core
duckduckgo-search
numexpr
rank_bm25 
faiss-gpu
mteb
nltk
evaluate
setfit
seqeval
bitsandbytes
peft
trl